fieldset {
    background-color: rgba(3, 3, 3, 0.4);
    padding-top: 10px;
}

fieldset label {
    margin-top: 10px;
}

fieldset button {
    margin-top: 10px;
}

fieldset input:not(input[type="submit"]) {
    width: 50%;
}

fieldset>p {
    margin-top: 30px;
}

.login-form-area {
    padding-top: 20px;
}