@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-family: 'Noto Sans', sans-serif;
    background-image: url(../Images/BruceLee.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

main {
    padding-top: 90px;
    padding-bottom: 90px;
    color: gold;
}

.site-content-bg-dark-contrast {
    background-color: rgba(3, 3, 3, 0.5);
}

main a {
    color: goldenrod;
    font-weight: bold;
}

main a:visited {
    color: gold;
    font-weight: bold;
}

.main-divider {
    height: 20px;
}

footer {
    color: gold;
    font-size: .8rem;
    text-align: center;
}

.navbar-legend {
    color: gold;
    font-size: 1.5em;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 10px;
    width: 50%;
}

th,
td {
    padding: 5px;
    border: 1px solid;
    border-color: white;
}

footer div {
    padding-top: 5px;
}