body {
    background-image: url(../Images/BruceLee.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

main {
    padding-top: 90px;
    padding-bottom: 90px;
    color: gold;
}

main article {
    background-color: rgba(3, 3, 3, 0.4);
}

.site-content-bg-dark-contrast {
    background-color: rgba(3, 3, 3, 0.4);
}

main a {
    color: goldenrod;
    font-weight: bold;
}

main a:visited {
    color: gold;
    font-weight: bold;
}

.main-divider {
    height: 20px;
}

footer {
    color: gold;
    font-size: .8rem;
    text-align: center;
}

.navbar-legend {
    color: gold;
    font-size: 1.5em;
}